{% extends './base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <style>
        label{
            display: block;
            margin-bottom: 10px;
        }
        input{
            width: 50%;
            display: block;
            padding: 20px;
            border-radius: 15px;
            border: 1px solid #1f2229;
            margin-bottom: 20px;
        }


    </style>

<section class="block">
    <h1 class="title">Вход</h1>
    <div class="container">

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-primary md-3">Войти</button>
        <p>Если у вас нет аккаунта, пройдите <a href="{% url 'signup_page' %}"> регистрацию</a></p>
    </form>
    </div>

</section>

{% endblock %}
